
$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
    margin-top: 0%;
    
}
.img{
    width: 100%;
    height: 550px;
}


