<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  
  <div fxFlex>
    <h3>Title</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" >

          <mat-card>
              <mat-card-header>
                <mat-card-title>
                <h2>Subtitle</h2>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              </mat-card-content>
            </mat-card><br><br>
            <mat-card>
                <mat-card-header>
                  <mat-card-title>
                  <h2>Subtitle</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </mat-card-content>
              </mat-card>
        
         
        </div>

        
      <div fxFlex="40" class="form-size" fxFlexOffset="40px">
           
          <mat-card>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" [@hide]="visibilityForm">
            <h3>Form</h3>
              <p>

                  <mat-form-field class="full-width">
                      <input matInput formControlName="email" placeholder="Email" type="email" email required>
                      <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                    </mat-form-field>
                
                
                    <mat-form-field class="full-width">
                  <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
                  <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width">
                  <input matInput formControlName="destination" placeholder="Destination" type="text" required>
                  <mat-error *ngIf="formErrors.destination">{{formErrors.destination}}</mat-error>
                </mat-form-field>
          </p>
         <button type="submit" mat-button style="background:purple; color:floralwhite" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      

        
    <div [@hide]="visibilitySpinner">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div class="flex" *ngIf="feedback" [@expand]>
      <h3>Your submission</h3>
      <p>Email: {{feedback.email}}</p>
      <p>Tel. number: {{feedback.telnum}}</p>
      <p>Destination: {{feedback.destination}}</p>
  </div>
</mat-card>
      </div>
    
    </div>
  </div>

    
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      
      </div>
</div>